In [6]:
import requests
import pandas as pd
url = "https://api.themoviedb.org/3/movie/top_rated?language=en-US&page=1"

headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhNzE5ZTJlY2VkYmZlZmRhYjgyMDFkNTk5ZDUxNTczNCIsInN1YiI6IjY2MzlhZDA0NTQ1MDhkMDEyMmQzOWQ0NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.KTVFWVWtF93xUDMSpOUED-mRvMMUan7_DMd5U3-qMVo"
}

response = requests.get(url, headers=headers)

In [9]:
df= pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [13]:
for i in range(1,472):
    url = "https://api.themoviedb.org/3/movie/top_rated?language=en-US&page={}".format(i)
    headers = {
        "accept": "application/json",
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJhNzE5ZTJlY2VkYmZlZmRhYjgyMDFkNTk5ZDUxNTczNCIsInN1YiI6IjY2MzlhZDA0NTQ1MDhkMDEyMmQzOWQ0NiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.KTVFWVWtF93xUDMSpOUED-mRvMMUan7_DMd5U3-qMVo"
              }
    response = requests.get(url, headers=headers)
    temp_df=pd.DataFrame(response.json()['results'])[['id','title','genre_ids','overview','poster_path','release_date']]
    df=pd.concat([df,temp_df], ignore_index=True)

In [14]:
df

,id,title,genre_ids,overview,poster_path,release_date
0,278,The Shawshank Redemption,"[18, 80]",Imprisoned in the 1940s for the double murder ...,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,1994-09-23
1,238,The Godfather,"[18, 80]","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14
2,240,The Godfather Part II,"[18, 80]",In the continuing saga of the Corleone crime f...,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20
3,424,Schindler's List,"[18, 36, 10752]",The true story of how businessman Oskar Schind...,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15
4,389,12 Angry Men,[18],The defense and the prosecution have rested an...,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957-04-10
...,...,...,...,...,...,...
9405,12142,Alone in the Dark,"[28, 14, 27]",Edward Carnby is a private investigator specia...,/bSxrbVCyWW077zhtpuYlo3zgyug.jpg,2005-01-28
9406,13805,Disaster Movie,"[35, 878]","The filmmaking team behind the hits ""Scary Mov...",/3J8XKUfhJiNzwobUZVtizXYPe8b.jpg,2008-08-29
9407,11059,House of the Dead,"[27, 28, 53]","Set on an island off the coast, a techno rave ...",/z2mDGbV4pLtsvSMNnmnSgoVZSWK.jpg,2003-04-11
9408,14164,Dragonball Evolution,"[28, 12, 14, 878, 53]","On his 18th birthday, Goku receives a mystical...",/sunS9xhPnFNP5wlOWrvbpBteAB.jpg,2009-03-12
9409,40016,Birdemic: Shock and Terror,"[10749, 27, 53]",A platoon of eagles and vultures attacks the r...,/gqmcAVNNUosB55RliecFYnkWT4M.jpg,2010-02-27

,id,title,genre_ids,overview,poster_path,release_date
0,278,The Shawshank Redemption,"[18, 80]",Imprisoned in the 1940s for the double murder ...,/9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg,1994-09-23
1,238,The Godfather,"[18, 80]","Spanning the years 1945 to 1955, a chronicle o...",/3bhkrj58Vtu7enYsRolD1fZdja1.jpg,1972-03-14
2,240,The Godfather Part II,"[18, 80]",In the continuing saga of the Corleone crime f...,/hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg,1974-12-20
3,424,Schindler's List,"[18, 36, 10752]",The true story of how businessman Oskar Schind...,/sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg,1993-12-15
4,389,12 Angry Men,[18],The defense and the prosecution have rested an...,/ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg,1957-04-10